html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--main-font);
	color: var(--text-color);

	/* ----Color mode ------ */
	background-color: var(--page-bg);
	/* color: var(--text-color); */
}

a,
button {
	transition: all 0.4s ease 0s;
}

.container {
	padding: 0 15px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.none {
	display: none !important;
}

/* -----Dark mode styles---- */
/* .dark {} */

/* --------------- */
.main-title {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 60px;
	font-family: var(--secondary-font);
	letter-spacing: 1px;
	line-height: 130%;
	text-align: center;
	color: var(--main-title-color);
}

.main-title--mb {
	margin-bottom: 60px;
}

.secondary-title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	text-align: center;
	color: var(--secondary-title-color);
}

/* ----Buttons---- */
.btn {
	display: inline-block;
	height: 48px;
	padding: 13px 24px;
	border-radius: 5px;
	background-color: var(--accent);
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	color: var(--font-color-light);
	transition: all 0.4s ease 0s;
}

.btn-outline {
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding: 12px 20px;
	height: 48px;
	border-radius: 5px;
	outline: 2.5px solid;
	color: var(--accent-border);
	font-weight: 600;
	transition: all 0.4s ease 0s;
}

.btn-outline__icon {
	width: 24px;
	height: 23.4px;
	fill: var(--accent);
}

/* --------- */
/* Dark mode button */
.dark-mode-btn {
	position: relative;
	display: flex;
	justify-content: space-between;
	order: 9;
	width: 51px;
	height: 26px;
	padding: 5px;
	background-color: #272727;
	border-radius: 50px;
}

.dark-mode-btn::before {
	position: absolute;
	top: 1px;
	left: 1px;
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--accent);
	transition: all 0.2s ease-in;
}

.dark-mode-btn--active::before {
	left: 25px;
}

.dark-mode-btn__icon {
	position: relative;
	z-index: 9;
}

/* ------------ */
@media (max-width:620px) {
	.main-title {
		margin-bottom: 30px;
		font-size: 40px;
	}

	.main-title--mb {
		margin-bottom: 30px;
	}

	.secondary-title {
		margin-bottom: 10px;
		font-size: 30px;
	}
}

@media (max-width:435px) {
	.dark-mode-btn {
		order: 0;
	}
}