@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/league-gothic/league-gothic.eot');
	src: url('../fonts/league-gothic/league-gothic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/league-gothic/league-gothic.woff2') format('woff2'),
		url('../fonts/league-gothic/league-gothic.woff') format('woff'),
		url('../fonts/league-gothic/league-gothic.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Anton Regular';
	src: url('../fonts/anton-regular/anton_regular.eot');
	src: url('../fonts/anton-regular/anton_regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/anton-regular/anton_regular.woff2') format('woff2'),
		url('../fonts/anton-regular/anton_regular.woff') format('woff'),
		url('../fonts/anton-regular/anton_regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);