.footer {
	margin-top: auto;
	padding: 60px 0 50px;
	background-color: var(--bg-color-dark);
	color: var(--secondary-light);
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	gap: 27px;
	align-items: center;
}

.footer__copyright {
	font-size: 16px;
}

.footer__copyright p+p {
	padding-top: .5em;
}

@media (max-width:620px) {
	.footer {
		padding: 30px 0;
	}

	.footer__wrapper {
		row-gap: 20px;
	}

	.footer__copyright {
		font-size: 14px;
	}
}