.nav {
	padding: 10px 0;
	background-color: var(--bg-color-dark);
	color: var(--font-color-light);
	border-bottom: 1px solid var(--dark-border);
	letter-spacing: normal;
}

.nav--main-page {
	background-color: rgba(38, 41, 45, 0);
}

.nav__row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.nav__logo {
	margin-right: auto;
}

.nav-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
	font-family: var(--main-font);
	font-size: 14px;
	letter-spacing: -0.5px;
	font-weight: 600;
	text-transform: uppercase;
}

.nav-list__item {
	transition: all 0.4s ease 0s;
}

.nav-list__link {
	color: var(--font-color-light);
	background-image: linear-gradient(var(--font-color-light) 50%,
			var(--font-color-accent) 50%);
	background-size: 100% 200%;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.nav-list__link--active {
	position: relative;
	color: var(--font-color-accent);
}

/* ======Mobile-menu======= */
.mobile-menu {
	display: none;
}

#menu-switch[type="checkbox"] {
	display: none;
}

.mobile-menu__burger {
	display: block;
	width: 50px;
	height: 50px;
	background-color: transparent;
	transition: all 0.8s ease 0s;
}

.mobile-menu__burger span {
	display: block;
	position: relative;
	top: 24px;
	left: 12px;
	border-radius: 2px;
	width: 26px;
	height: 3.5px;
	background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(195, 22, 22, 0.7) 58%, rgba(0, 0, 0, 1) 100%);
	/* background-color: var(--accent); */
}

.mobile-menu__burger span::after,
.mobile-menu__burger span::before {
	content: '';
	position: absolute;
	left: 0;
	top: -6px;
	width: 26px;
	height: 4px;
	background-color: var(--light);
	border-radius: 2px;
	transition: all 0.8s ease 0s;
}

.mobile-menu__burger span::before {
	background: linear-gradient(135deg, rgba(0, 0, 0, 1) 15%, rgba(195, 22, 22, 0.5) 94%, rgba(0, 0, 0, 1) 100%)
}

.mobile-menu__burger span::after {
	top: 6px;
	height: 3.5px;
	background: linear-gradient(135deg, rgba(0, 0, 0, 1) -17%, rgba(195, 22, 22, 0.8) 36%, rgba(0, 0, 0, 1) 76%)
}

#menu-switch[type="checkbox"]:checked~.mobile-menu__burger {
	opacity: 0;
}

.mobile-menu__wrapper {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	background-color: rgba(17, 18, 20, 0.5);
	visibility: hidden;
	opacity: 1;
	transition: all 0.6s ease 0s;
	transform: translateY(-100%);
	z-index: 3;
}

.mobile-menu__box {
	position: absolute;
	right: 0;
	max-width: 200px;
	width: 100%;
	min-height: 250px;
	padding: 40px 20px;
	border-radius: 10px;
	background: url(../images/header/background-mobile-menu.png) no-repeat center / cover;
	z-index: 9;
}


.mobile-menu__box-close-btn {
	position: absolute;
	width: 25px;
	height: 25px;
	right: 10px;
	top: 10px;
}

.mobile-menu__box-close-btn::after,
.mobile-menu__box-close-btn::before {
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	width: 26px;
	height: 4px;
	background: linear-gradient(39deg, #c31616 -20%, #000 78%);
	border-radius: 2px;
	transition: all 0.8s ease 0s;
	transform: rotate(-45deg);
}

.mobile-menu__box-close-btn::before {
	transform: rotate(45deg);
	background: linear-gradient(293deg, #c31616 -20%, #000 78%);
}

.menu-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

#menu-switch[type="checkbox"]:checked~.mobile-menu__wrapper {
	visibility: visible;
	transform: translateY(0%);
}

/* ====END-mobile-menu==== */
@media (max-width:678px) {
	.nav__row {
		justify-content: center;
	}

	.mobile-menu {
		display: block;
	}

	.nav-list--desktop {
		display: none;
	}

	.nav-list {
		flex-direction: column;
		row-gap: 30px;
		font-size: 16px;
	}
}