:root {
	--main-font: "Montserrat", sans-serif;
	--secondary-font: "Anton Regular", "Vocal Bold", sans-serif;



	--dark: #111214;
	--secondary-dark: #26292D;
	--light: #a7aab4;
	--secondary-light: #d6d5d5;
	--accent: #c31616;
	--box-shadow-btns: 0px 0px 18px 3px rgba(169, 169, 170, 0.5);
	--box-shadow-btns-dark: 0px 0px 18px 3px rgba(23, 22, 22, 0.5);
	--porject-cart-btn-bs: 0px 0px 18px 3px rgba(169, 169, 170, 0.5);


	--bg-color-dark: var(--dark);
	--bg-color-light: var(--light);

	--font-color-dark: var(--dark);
	--font-color-light: var(--light);
	--font-color-accent: var(--accent);

	--dark-border: var(--secondary-dark);
	--light-border: var(--light);
	--accent-border: var(--accent);
	/* -----light----- */

	--page-bg: var(--secondary-light);
	--text-color: var(--dark);
	--main-title-color: var(--accent);
	--secondary-title-color: var(--dark);

	--porject-cart-background: var(--dark);
	--porject-cart-background2: var(--secondary-light);
	--porject-cart-text: var(--light);

	--box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.25);
}

.dark {
	--page-bg: var(--secondary-dark);
	--text-color: var(--secondary-light);
	--main-title-color: var(--accent);
	--secondary-title-color: var(--light);
	--porject-cart-background: var(--light);
	--porject-cart-background2: var(--secondary-dark);
	--porject-cart-text: var(--dark);
	--box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.8);
	--box-shadow-btns-dark: var(--box-shadow-btns);
	--porject-cart-btn-bs: 0px 0px 18px 3px rgba(23, 22, 22, 0.5);
}